//Created by Palak on 5/1/2017.
doctype html
html
    body
        form(action='/confirmation')
            div.form-group
                label(for='Token') Enter your confirmation token:
                input#name.form-control(type='text', placeholder='Token' name='Token')
