extends userlayout

block content
    //.main.container.text-xs-center
    .text-xs-center.container.main
        .flex-container
            .flex-item
                flex
                    h4 Welcome to Room8Karma
                    p.lead Create and build your profile to a better roommate experience!
                    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE
            .flex-item
                flex
                    h4 Welcome to Room8Karma2
                    p.lead Create and build your profile to a better roommate experience!
                    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE
            .flex-item
                flex
                    h4 Welcome to Room8Karma3
                    p.lead Create and build your profile to a better roommate experience!
                    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE
                //.flex-item
                //    flex item 2
                //.flex-item
                //    flex item 3