doctype html
html
  head
    title= title
  body
    h1= message
    div.container
      center
        p Cool Shit bro
    footer
      p this isnt working
    a.foo_link(href='about.html', target='_blank') About Us
    link(href='./public/stylesheets/style.css', rel='stylesheet')
    script(type='text/javascript').
        var myVar = "Hello Var";
        console.log(myVar);

    script(src='/javascripts/app.js')