extends layout

block content
    .col-md-8
        h4.m-b-2 This user is logged in ath moment am just checking to see where this fucking blog div ends. Yup it doesnt so have to fucking got till the end
