//
   Created by whamsy on 4/24/17.

nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
    #navbar.navbar-nav.collapse.navbar-toggleable-sm
        .container
            if !currentUser
                a.navbar-brand(href='/')
                    i.icn-logo.material-icons bookmark_border
                    | Room8Karma
            else
                a.navbar-brand(href='/profile')
                    i.icn-logo.material-icons bookmark_border
                    | Room8Karma
            .nav-items.clearfix
                if !currentUser
                    a.nav-item.nav-link(href='register') Sign Up
                    a.nav-item.nav-link(href='about') About
                    a.nav-item.nav-link(href='contact') Contact
                if currentUser
                    a.nav-item.nav-link(href='about') About
                    a.nav-item.nav-link(href='contact') Contact
                    a.nav-item.nav-link(href='profile') My Profile
                    a.nav-item.nav-link(href='room') My Room
                    a.nav-item.nav-link(href='roomsearch')
                        i.icn-logo.material-icons search
                        | Rooms
                    a.nav-item.nav-link(href='room8search')
                        i.icn-logo.material-icons search
                        | Roommates

            if currentUser
                div
                    a.btn.btn-light.pull-md-right(href='/logout') Log out
            else
                a.btn.btn-info.pull-md-right(href='login') Login