extends layout

block content
    .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up
        // register form
        form(method='POST' action='/register')
            div.form-group
                label(for='name') Name:
                input#name.form-control(type='text', placeholder='just your first name' name='name')
            div.form-group
                label(for='email') Email:
                input#email.form-control(type='email', placeholder='name@email.com' name='email')
            div.form-group
                label(for='username') Username:
                input#username.form-control(type='text', placeholder='your Room8Karma username' name='username')
            div.form-group
                label Gender:
                br
                label(for='female') #[input#female(type='radio', name='gender', value='female')] Female
                br
                label(for='male') #[input#male(type='radio', name='gender', value='male')] Male
                br
                label(for='other') #[input#other(type='radio', name='gender', value='Other')] Other
            div.form-group
                label(for='pw') Password:
                input#pw.form-control(type='password' name='password')
            div.form-group
                label(for='pw2') Confirm Password:
                input#pw2.form-control(type='password' name='confirmPassword')
            button.btn.btn-primary(type='submit') Sign up