//
   Created by whamsy on 5/2/17.

nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-large.w3-theme-l5.w3-animate-left(style='z-index:3;width:250px;margin-top:43px;')
    //a.w3-right.w3-xlarge.w3-padding-large.w3-hover-black.w3-hide-large(href='javascript:void(0)', onclick='w3_close()', title='Close Menu')
        i.fa.fa-remove
    h4.w3-bar-item
        b Menu
    a.w3-bar-item.w3-button.w3-hover-black(href='#') Link
    a.w3-bar-item.w3-button.w3-hover-black(href='#') Link
    a.w3-bar-item.w3-button.w3-hover-black(href='#') Link
    a.w3-bar-item.w3-button.w3-hover-black(href='#') Link