li.dropdown.btn.btn-default
    span.glyphicon.glyphicon-th-list
        |  Select
        span.caret
    ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
        li
            a(href="#") action
        li
            a(href="#") another action
