extends layout

block content
    style.
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }
            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }
            to {
                top: 0;
                opacity: 1
            }
        }

        /* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

    #myModal.modal
        .modal-content
            form(method='POST' action='/addroom')
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×x
                    h4.modal-title Join a room
                .modal-body
                    .form-group.col-md-12
                        div.form-group
                            label(for='roomID') Enter the roomID you wish to join!
                            input#roomID.form-control(type='text', placeholder='roomID' name='roomID')
                    .clearfix
                .modal-footer
                    button.btn.btn-success(type='submit') Add!
                    //button.btn.btn-default(type='button', data-dismiss='modal') ADD NOW

    .row
        .col-md-7
            h4.m-b-2 Looks like you don't have a room yet! Lets get started!
        .col-md-5
            button.btn.btn-success#myBtn Join an existing room!
                br
    // register form
    .row
        form(method='POST' action='/newroom')
            div.form-group
                label(for='roomname') Your Room Name:
                input#roomname.form-control(type='text', placeholder='just your Room name' name='roomname')
            div.form-group
                label Looking for Room mates:
                br
                label(for='yes') #[input#yes(type='radio', name='room_available', value='yes')] Yes
                br
                label(for='no') #[input#no(type='radio', name='room_available', value='no')] No
            div.form-group
                label(for='address') Address:
                input#address.form-control(type='text', placeholder='Timesquare' name='address')
            div.form-group
                label(for='numrooms') No. of Rooms:
                input#numrooms.form-control(type='text', placeholder='1,2,3' name='numrooms')
            .form-group
                label Amenities Available
                br
                .checkbox
                    label(for="airconditioner")
                        input#airconditioner(type="checkbox", name="airconditioner", value="yes")
                        //input#airconditionerhidden(type="hidden", name="airconditioner", value="no")
                        |       Air conditioner
                |
                .checkbox
                    label(for="internet")
                        input#internet(type="checkbox", name="internet", value="yes")
                        //input#internethidden(type="hidden", name="internet", value="no")
                        |       Internet connectivity
                |
                .checkbox
                    label(for="washer")
                        input#washer(type="checkbox", name="washer", value="yes")
                        //input#washerhidden(type="hidden", name="washer", value="no")
                        |       Washer
                .checkbox
                    label(for="dryer")
                        input#dryer(type="checkbox", name="dryer", value="yes")
                        //input#dryerhidden(type="hidden", name="dryer", value="no")
                        |       Dryer
                |
                .checkbox
                    label(for="parking")
                        input#parking(type="checkbox", name="parking", value="yes")
                        //input#parkinghidden(type="hidden", name="parking", value="no")
                        |       Parking
                |
                .checkbox
                    label(for="gym")
                        input#gym(type="checkbox", name="gym", value="yes")
                        //input#gymhidden(type="hidden", name="gym", value="no")
                        |       Fitness centre
                |
                .checkbox
                    label(for="pool")
                        input#pool(type="checkbox", name="pool", value="yes")
                        //input#poolhidden(type="hidden", name="pool", value="no")
                        |       Swimming pool

            div.form-group
                label Shared Room:
                br
                label(for='Yes') #[input#female(type='radio', name='shared_room', value='yes')] Yes
                br
                label(for='No') #[input#male(type='radio', name='shared_room', value='No')] No
                br
            div.form-group
                label Pet Friendly:
                br
                label(for='Yes') #[input#female(type='radio', name='pet_friendly', value='yes')] Yes
                br
                label(for='No') #[input#male(type='radio', name='pet_friendly', value='No')] No
            div.form-group
                label(for='rent') Rent:
                input#rent.form-control(type='Integer' name='rent')
            div.form-group
                label(for='details') Anything Else:
                input#details.form-control(type='text', placeholder='details about your home' name='details')
            button.btn.btn-primary(type='submit') Sign up
    script.
        // Get the modal
        var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }