
/* Base Styles */

body {
  background: #1d2a33 url('../images/bg.jpg') no-repeat;
  background-size: cover;
  max-width: 2000px;
  margin: 0;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}




.header {
    width: 100%;

}


a:hover {
  color: rgba(49,176,213, .7);
}

/* Component Styles */

.navbar {
  padding: 1rem 0;
  background: rgba(0,0,0, .25);
}

.lead {
  margin-bottom: 2.5rem;
}
.main {
  color: #fff;
  min-height: calc(100vh - 34px);
}
.foot {
  font-size: .85rem;
  padding: .5rem 0;
  color: rgba(255,255,255, .6);
}
a {color: black;margin: 15px; text-decoration: none; bottom: 50%}




/* Modifier Styles */

.nav-items .nav-link {
  margin: 0 1rem;
}
.navbar-brand {
  margin: 0;
}
.navbar .nav-link,
.navbar .btn {
  text-transform: uppercase;
  font-size: .95rem;
}
.list-group {
  color: initial;
}
.label {
  font-size: .88rem;
  vertical-align: top;
  margin: 3px 0 0 4px;
}

/* Button Styles */

.btn-primary {
  background: #417aba;
  border-color: #417aba;
}
.btn-info {
  background-color: #31b0d5;
  border-color: #2aabd2;
}
.btn-info:hover {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-light {
  color: rgba(255,255,255, .75);
  background: rgba(255,255,255, .12);
}
.btn-light:hover {
  background: rgba(255,255,255, .2);
}
.active,
.btn {
  transition: .4s;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgb(22, 31, 38);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;

}
.sidenav a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;


}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: -32px;
    left: 190px;
    font-size: 40px;
    margin-left: 0px;
    overflow: auto;

}
#main {
    transition: margin-left .5s;
    padding-top: 0rem;
    color: #818181;


}
@media screen and (max-height: 600px) {
    .sidenav {padding-right: 25px;}
    .sidenav a {font-size: 30px;}
}
/* Icon Styles */

.icn-logo {
  margin: 3px 3px 0;
  float: left;
}
.icn-person {
  font-size: 50px;
  border-radius: 50%;
  border: solid 2px;
  padding: .5rem;
}
.avatar {
  width: 35px;
  margin-right: 18px;
  border: solid 2px rgba(255,255,255, .75);
}
.options {
  display: none;
}
.list-group-item:hover .options {
  display: block;
}
.options .material-icons {
  font-size: 1.25rem;
  cursor: pointer;
  margin-left: 1rem;
  color: rgba(0,0,0, .35);
}
.options .material-icons:hover {
  color: initial;
}

.favorite-book {
  margin-top: 30px;
}

/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
  .navbar {
    background: #1d2a33;
  }
  .nav-items .nav-item {
    float: none;
  }
  .nav-items .nav-link  {
    padding: .65rem 0;
    display: block;
  }
  .nav-items {
    padding: 1rem 0;
    clear: left;
  }
  .navbar .btn {
    margin-left: 1rem;
  }
  .main {
    padding-top: 6rem;
  }
}

@media (min-width: 48em) {
  .navbar {
    min-height: 70px;
  }
  .navbar-nav .container {
    display: -webkit-flex;
    display: flex;
  }
  .nav-items {
    margin-right: auto;
    margin-left: auto;
  }
  .main {
    padding-top: 8rem;
    padding-right: 0rem;
  }
}