a {color: black;margin: 15px; text-decoration: none; bottom: 10%}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
    background-color: inherit;
    width: 200px;
    bottom: 10%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: #ccc;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    
    visibility: hidden;
    margin-top: -1px;
    bottom: 10%;
}